@{
    ViewData["Title"] = "Simple Model Binding";
    Layout = "~/Views/Shared/_shared.cshtml";
}

<h2>Simple Message Binding</h2>

<div id="app">
    {{ message }}
</div>

<script src="~/js/Home/index.js"></script>